<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GarageManagement.Properties.Settings.GARAGEMANAGEMENTConnectionString"
            connectionString="Data Source=LAPTOP-FRB1TH08\SQLEXPRESS;Initial Catalog=GARAGEMANAGEMENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GarageManagement.Properties.Settings.GARAGEMANAGEMENTConnectionString1"
            connectionString="Data Source=LAPTOP-FRB1TH08\SQLEXPRESS;Initial Catalog=GARAGEMANAGEMENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>